pip install alembic
pip install bcrypt
pip install click
pip install coverage
pip install eventlet
pip install flask
pip install Flask-Bcrypt
pip install Flask-Cors
pip install Flask-Migrate
pip install flask-restx
pip install Flask-Script
pip install Flask-SQLAlchemy
pip install Flask-Testing
pip install gunicorn
pip install itsdangerous
pip install Jinja2
pip install jsonschema
pip install Mako
pip install psycopg2-binary
pip install pycparser
pip install PyJWT
pip install python-dateutil
pip install pytz
pip install selenium
pip install six
pip install SQLAlchemy
pip install Werkzeug